@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btnContact {
        padding: 10px;
        border-radius: 2.25rem;
        border: 2px solid #fff;
        color: #fff;
        background: #662d91;
    }

    .btnShadow {
        box-shadow: -2px 9px 9px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 9px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 9px 9px -3px rgba(0,0,0,0.75);
    }
}